body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #332;
}

.question_container {
    margin: 2em;
}

.question_title
{
    width: 100%;
    max-height: 20%;
    min-height: 2em;
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.question_explanation
{
    max-height: 20%;
    width: 100%;
}

.question_response {
    margin: 1em;
}

.question_option {
    margin: 1em 0;
}

.nav_button
{
    position: fixed;
    font-size: 1.5em;
    padding: 0.5em;
    top: 1em;
}

.nav_button_left {
    left: 1em;
}

.nav_button_right {
    right: 1em;
}